%header{ :class => "row"}
  %nav{ :class => "twelve columns"}
    %ul{ :class => "push_four four columns nav"}
      %li{ :class => "nav-item"}
        = link_to "one", "/"
      %li{ :class => "nav-item"}
        = link_to "two", "#"
      %li{ :class =>  "nav-item"}
        = link_to "three", "#"
      %li{ :class => "nav-item"}
        = link_to "four", "#"
    %form{:method => "post", :action => "#", :id => "search"}
      %ul{ :class => "four columns nav" }
        %li{ :class => "nav-item"}
          %input{ :type => "hidden", :name => "index", :value => "176903"}
        %li{ :class => "nav-item" }
          %input{ :type => "text", :name => "query", :value => "" }
        %li{ :class => "nav-item"}
          %input{ :type => "hidden", :name => "pse1", :value => "dbic" }
        %li{ :class => "nav-item" }
          %input{ :type => "hidden", :name => "picocaller", :value => "dentistbenefits" }
       

 
  %section{ :class => "row"}
  %nav{ :class => "twelve columns navbar"}
    %ul{ :class => "push_three eight columns nav"}
      %li{ :class => "nav-item"}
        = link_to "home", "#"
      %li{ :class => "nav-item"}
        = link_to "product/services", "#"
        %div{ :class => "dropdown" }
          %ul
            %li
              = link_to "professional/general liability insurance", "#"
            %li 
              = link_to "cyber security", "#"
            %li 
              = link_to "renewals", "#"
            %li
              = link_to "insurance terms", "#"
      %li
        = link_to "risk management", "#"
        %div{ :class => "dropdown" }
          %ul
            %li
              = link_to "forms/charts", "#"
            %li
              = link_to "seminars", "#"
            %li
              = link_to "tips", "#"
            %li
              = link_to "cyber ris for dental", "#"
      %li
        = link_to "new graduates", "#"
        %div{ :class => "dropdown" }
          %ul
            %li
              = link_to "apply for coverage", "#"
            %li
              = link_to "seminars", "#"
      %li
        = link_to "practicing dentists", "#"
        %div{ :class => "dropdown" }
          %ul
            %li
              = link_to "apply for coverage", "#"

  %section{ :class => "row" }
    %h3 Dentist Benefits Insurance Company

    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            