%header{ :class => "row header"}
  %nav{ :class => "twelve columns"}
    %ul{ :class => "push_four four columns nav"}
      %li{ :class => "nav-item"}
        = link_to "one", "/"
      %li{ :class => "nav-item"}
        = link_to "two", "#"
      %li{ :class =>  "nav-item"}
        = link_to "three", "#"
      %li{ :class => "nav-item"}
        = link_to "four", "#"
    %form{ :class => "four columns form-additional-padding", :method => "post", :action => "#", :id => "search"}
      %ul
        %li
          %input{ :type => "hidden", :name => "index", :value => "176903"}
        %li{ :class => "field" }
          %input{ :class => "wide text input", :type => "text", :name => "query", :value => "" }
        %li
          %input{ :type => "hidden", :name => "pse1", :value => "dbic" }
        %li
          %input{ :type => "hidden", :name => "picocaller", :value => "dentistbenefits" }
       

 
  %section{ :class => "row"}
    %nav{ :class => "twelve columns navbar"}
      %ul{ :class => "push_three eight columns nav"}
        %li{ :class => "nav-item"}
          = link_to "home", "#"
        %li{ :class => "nav-item"}
          = link_to "product/services", "#"
          %div{ :class => "dropdown" }
            %ul
              %li
                = link_to "professional/general liability insurance", "#"
              %li 
                = link_to "cyber security", "#"
              %li 
                = link_to "renewals", "#"
              %li
                = link_to "insurance terms", "#"
        %li
          = link_to "risk management", "#"
          %div{ :class => "dropdown" }
            %ul
              %li
                = link_to "forms/charts", "#"
              %li
                = link_to "seminars", "#"
              %li
                = link_to "tips", "#"
              %li
                = link_to "cyber ris for dental", "#"
        %li
          = link_to "new graduates", "#"
          %div{ :class => "dropdown" }
            %ul
              %li
                = link_to "apply for coverage", "#"
              %li
                = link_to "seminars", "#"
        %li
          = link_to "practicing dentists", "#"
          %div{ :class => "dropdown" }
            %ul
              %li
                = link_to "apply for coverage", "#"

  %section{ :class => "twelve columns" }
    %div{ :class => "push_four seven columns" }
      %h3 Dentist Benefits Insurance Company

      %p
        Due to heavy call volume resulting from enrollment in the health exchange, you may experience busy signals when trying to reach us by telephone. We are working on resolving the busy signal and apologize for the inconvenience. Please contact us via email at dbicquestions@dentistsbenefits.com for prompt response.            